.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    border: solid black 1px;
    text-align: center;
    padding: 50px;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

