* {
    background-color: blanchedalmond;
    font-family:'Times New Roman', Times, serif;
    
}

#reset {
    width: 153px;
    height: 153px;
    font-size: 16px;
    position: fixed;
    left: 64%;
    top: 175px;
    border: solid black 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    position:absolute;
    left: 24%;
    top: 25px;    
}

.grid-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    text-align: center;
    width: 150px;
    height: 150px;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

